<!-- Polymer, core-elements and paper-elements. -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-shared-lib/core-shared-lib.html">
<link rel="import" href="../core-style/core-style.html">
<link rel="import" href="../core-scaffold/core-scaffold.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../core-collapse/core-collapse.html">

<!-- NOTE: the presence of this plugin on the page with Firefox + Ad Block Plus plugin
     will cause the entire page to not load.-->
<link rel="import" href="../core-icons/social-icons.html">

<!-- Other custom elements / web components used -->
<link rel="import" href="../pvc-globals/pvc-globals.html">

<!-- All data is stored in Firebase. -->
<link rel="import" href="../firebase-element/firebase-element.html">
<link rel="import" href="../firebase-element/firebase-login.html">

<!-- Imports for external non-Web-Component JS libraries -->
<link rel="import" href="imports/jquery.js.html">
<link rel="import" href="imports/md5.js.html">
<link rel="import" href="imports/lodash.js.html">
<link rel="import" href="imports/moment.js.html">

<!-- (Internal) Custom Elements used in the main speakur-discusson element -->
<link rel="import" href="elements/speakur-base.html">
<link rel="import" href="elements/speakur-i18next.html">

<link rel="import" href="elements/speakur-toolbar.html">
<link rel="import" href="elements/speakur-thread-view.html">

<link rel="import" href="elements/speakur-profile.html">
<link rel="import" href="elements/speakur-login-button.html">
<link rel="import" href="elements/dialogs/speakur-dialog-login.html">
<link rel="import" href="elements/dialogs/speakur-dialog-profile-edit.html">

<link rel="import" href="elements/themes/speakur-theme-grey.html">
<link rel="import" href="elements/themes/speakur-theme-blue.html">
<link rel="import" href="elements/themes/speakur-theme-red.html">
