<script src="../../moment/moment.js"></script>
<script src="../../moment/locale/es.js"></script>
<script src="../../moment/locale/de.js"></script>
<script src="../../moment/locale/ru.js"></script>
<script src="../../moment/locale/zh-cn.js"></script>
<script src="../../moment/locale/ja.js"></script>
<script src="../../moment/locale/fr.js"></script>
<script src="../../moment/locale/ar.js"></script>
<script src="../../moment/locale/nl.js"></script>
<script src="../../moment/locale/el.js"></script>
<script src="../../moment/locale/hi.js"></script>
<script src="../../moment/locale/it.js"></script>
<script src="../../moment/locale/ko.js"></script>
<script src="../../moment/locale/sv.js"></script>
