<link rel="import" href="../polymer/polymer.html"><link rel="import" href="../core-shared-lib/core-shared-lib.html"><link rel="import" href="../core-style/core-style.html"><link rel="import" href="../core-scaffold/core-scaffold.html"><link rel="import" href="../paper-button/paper-button.html"><link rel="import" href="../paper-icon-button/paper-icon-button.html"><link rel="import" href="../paper-toast/paper-toast.html"><link rel="import" href="../font-roboto/roboto.html"><link rel="import" href="../core-collapse/core-collapse.html"><link rel="import" href="../core-icons/social-icons.html"><link rel="import" href="../pvc-globals/pvc-globals.html"><link rel="import" href="../firebase-element/firebase-element.html"><link rel="import" href="../firebase-element/firebase-login.html"><link rel="import" href="imports/jquery.js.html"><link rel="import" href="imports/md5.js.html"><link rel="import" href="imports/lodash.js.html"><link rel="import" href="imports/moment.js.html"><script>
    // TODO: How to put this in the global namespace cleanly?
    // This is used in a few places to get the correct absolute path to resources (images, JSON, etc)
    // Meant to be called like:  speakurGetBaseURL(document.currentScript.baseURI)
    window.speakurGetBaseURL = function speakurGetBaseURL(currentScriptBaseURI) {
        var srcURL = new window.URL(currentScriptBaseURI);
        var lastIndexStr, srcPath;
        if (srcURL.pathname.lastIndexOf("/elements.vulcanized.html") > 0) {
            srcPath = srcURL.pathname.replace(/[/]elements[.]vulcanized.html$/,"/");
        } else {
            // remove anything after /speakur-discussion/
            lastIndexStr = "/speakur-discussion/";
            srcPath = srcURL.pathname.substr(0, srcURL.pathname.lastIndexOf(lastIndexStr) + lastIndexStr.length );
        }

        return srcURL.origin + srcPath;
    };
</script><link rel="import" href="elements/speakur-base.html"><link rel="import" href="elements/speakur-i18next.html"><link rel="import" href="elements/speakur-thread-view.html"><link rel="import" href="elements/speakur-profile.html"><link rel="import" href="elements/speakur-login-button.html"><link rel="import" href="elements/dialogs/speakur-dialog-login.html"><link rel="import" href="elements/dialogs/speakur-dialog-profile-edit.html"><link rel="import" href="elements/themes/speakur-theme-grey.html"><link rel="import" href="elements/themes/speakur-theme-blue.html"><link rel="import" href="elements/themes/speakur-theme-red.html">